{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "wrapAround": false,
  "contain": true,
  "cellAlign": "center",
  "watchCSS": true,
  "dragThreshold": 8,
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<section
  class="Section Section--best-sellers"
  data-section-id="{{ section.id }}"
  data-section-type="best-sellers"
  data-settings="{{ section_settings }}"
>
  <header class="SectionHeader SectionHeader--center">
    <h2>{{ section.settings.title }}</h2>
  </header>

  <div class="ProductList ProductList--carousel Carousel" data-flickity="{{ flickity_options | escape }}">
    {%- for block in section.blocks -%}
      <div class="Carousel__Cell">
        <div class="Carousel__Cell--item">
          <a href="{{ block.settings.product_link }}">
            <img src="{{ block.settings.image | img_url: 'large' }}" alt="product-image">
          </a>
          <span class="brand">{{ block.settings.brand }}</span>
          <span class="name">{{ block.settings.product_name }}</span>
          <span class="price">{{ block.settings.price }}</span>
        </div>
      </div>
    {%- endfor -%}
  </div>

  {% if section.settings.button_text %}
    <a href="{{ section.settings.button_link }}" class="Button best-sellers-button">
      {{- section.settings.button_text -}}
    </a>
  {% endif %}
</section>

{% schema %}
{
  "name": "Best Sellers",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Best Sellers"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "brand",
          "label": "Brand"
        },
        {
          "type": "text",
          "id": "product_name",
          "label": "Product name"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "url",
          "id": "product_link",
          "label": "Product link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Best Sellers",
      "settings": {},
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
